antlr4-python3-runtime
appdirs
autograd
autoray
cachetools
certifi
charset-normalizer
cloudpickle
dask
fire
fsspec0
future
idna
lark-parser
llvmlite
locket
mpmath
networkx
ninja
numba
numpy
packaging
partd
PennyLane
PennyLane-Lightning
pydantic
pyparsing
python-dateutil
python-dotenv
PyYAML
quantum-blackbird
quantum-xir
requests
retworkx
scipy
semantic-version==2.6.0
six
StrawberryFields
sympy
termcolor
thewalrus
toml
toolz
typing_extensions
urllib
xanadu-cloud-client
